.swag-gameThemed-outlineButton {
  width: 128px;
  height: 35px;
  border-radius: 76px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}



/* 
 *  Theme
 */

.swag-gameThemed-outlineButton {
  color: #FFF;
  background: transparent;
  border: solid 1px #FFF;
}
