.swag-gameThemed-outlineButton {
  width: calc(128px + var(--swag-gameThemed-panel-font-size-sm));
  height: 35px;
  border-radius: 76px;
  font-size: var(--swag-gameThemed-panel-font-size-sm);
  font-weight: bold;
  cursor: pointer;

  &:active {
    transform: translateY(1px) !important;
  }
}



/* 
 *  Theme
 */

.swag-gameThemed-outlineButton {
  color: #FFF;
  background: transparent;
  border: solid 1px #FFF;
}
