.swag-gameThemed-select {
  border-radius: 5px;
  position: relative;

  select {
    padding: 0 0.5rem;
    appearance: none;
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    font-size: var(--swag-gameThemed-panel-font-size-md);
    font-weight: bold;
    cursor: pointer;
  }

  .swag-icon {
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: $shockwaveBlack;
    font-size: 1.5rem;
  }
}
