.swag-gameThemed-textInput {
  border-radius: 5px;

  input {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 32px;
  }
}
