.swag-gameThemed-textInput {
  border-radius: 5px;
  position: relative;

  input {
    appearance: none;
    border: none;
    background-color: transparent;
    padding: 0 0.5rem;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    font-size: var(--swag-gameThemed-panel-font-size-sm);
  }
}

.swag-gameThemed-textInput__button {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  padding-left: 1rem;
  padding-right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;

  > .swag-icon {
    cursor: pointer;
    font-size: 1.25rem;

    &:active {
      transform: translateY(1px);
    }
  }
}



/*
 * Theme
 */

.swag-gameThemed-textInput__button {
  background-image: linear-gradient(90deg, transparent 0%, var(--swag-gameThemed-input-bg-color) 25%, var(--swag-gameThemed-input-bg-color) 100%);
}
