.swag-gameThemed-inviteFriends {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    margin-bottom: 0.65rem;
  }

  .swag-gameThemed-textInput {
    width: 330px;
    margin: 0 auto;
  }
}
