.swag-inviteFriendsScreen-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  z-index: 3;
}

.swag-inviteFriendsScreen {
  @keyframes swag-slide-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes swag-slide-out-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  animation: swag-slide-in-right 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  &.swag-slide-out-right {
    animation: swag-slide-out-right 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards !important;
  }
}



/*
 * Theme
 */

.swag-inviteFriendsScreen {
  font-family: var(--swag-ui-font-family);
}
