/* 
 * SASS Variables 
 */

 // Misc.
$cdnRoot: 'https://swagapi.shockwave.com/';

// Margins
$margin: 1rem;
$marginSm: 0.625rem;
$marginVerySm: 0.3125rem;

// Colours
$shockwaveBlue: #3377cc;
$shockwaveOrange: #ff9900;
$shockwaveBlack: #1f1f1f;
$shockwaveWhite: #ffffff;
$shockwaveDarkGrey: #6f6f6f;
$shockwaveLightGrey: #A4A4A4;

// Media query breakpoints
$breakpoints: (
  'phone': 400px,
  'phablet': 560px,
  'tablet': 768px,
  'desktop': 1248px
) !default;

/* 
 * CSS Variables 
 */

:root {
  // Light theme
  --swag-l-btn-font-color: #{$shockwaveWhite};
  --swag-l-btn-primary-color: #{$shockwaveBlue};
  --swag-l-btn-secondary-color: #{$shockwaveOrange};
  --swag-l-btn-border-color: #{$shockwaveOrange};
  --swag-l-panel-bg-color: #{$shockwaveWhite};
  --swag-l-panel-font-color: #{$shockwaveBlack};
  --swag-l-toolbar-bg-color: #{$shockwaveWhite};
  --swag-l-toolbar-font-color: #{$shockwaveBlack};
  --swag-l-toolbar-border-color: #{$shockwaveLightGrey};

  // Dark theme
  --swag-d-btn-font-color: #{$shockwaveWhite};
  --swag-d-btn-primary-color: #{$shockwaveBlue};
  --swag-d-btn-secondary-color: #{$shockwaveOrange};
  --swag-d-btn-border-color: #{$shockwaveWhite};
  --swag-d-panel-bg-color: #{$shockwaveBlack};
  --swag-d-panel-font-color: #{$shockwaveWhite};
  --swag-d-toolbar-bg-color: #{$shockwaveBlack};
  --swag-d-toolbar-font-color: #{$shockwaveWhite};
  --swag-d-toolbar-border-color: #{$shockwaveDarkGrey};

  // Palette
  --swag-btn-font-color: var(--swag-l-btn-font-color);
  --swag-btn-primary-color: var(--swag-l-btn-primary-color);
  --swag-btn-secondary-color: var(--swag-l-btn-secondary-color);
  --swag-btn-border-color: var(--swag-l-btn-border-color);
  --swag-panel-bg-color: var(--swag-l-panel-bg-color);
  --swag-panel-font-color: var(--swag-l-panel-font-color);
  --swag-toolbar-bg-color: var(--swag-l-toolbar-bg-color);
  --swag-toolbar-font-color: var(--swag-l-toolbar-font-color);
  --swag-toolbar-border-color: var(--swag-l-toolbar-border-color);

  // Typography
  --swag-ui-font-family: 'Roboto', sans-serif;
  --swag-title-font-family: 'Roboto', sans-serif;

  // Toolbar
  --swag-toolbar-height: 48px;
  --swag-toolbar-title-font-size: 16px;
  --swag-toolbar-border-width: 0;
}

// Dark theme
.swag-theme--dark {
  --swag-btn-font-color: var(--swag-d-btn-font-color);
  --swag-btn-primary-color: var(--swag-d-btn-primary-color);
  --swag-btn-secondary-color: var(--swag-d-btn-secondary-color);
  --swag-btn-border-color: var(--swag-d-btn-border-color);
  --swag-panel-bg-color: var(--swag-d-panel-bg-color);
  --swag-panel-font-color: var(--swag-d-panel-font-color);
  --swag-toolbar-bg-color: var(--swag-d-toolbar-bg-color);
  --swag-toolbar-font-color: var(--swag-d-toolbar-font-color);
  --swag-toolbar-border-color: var(--swag-d-toolbar-border-color);
}
