.swag-gameThemed-entityName {
  text-align: center;
  font-size: var(--swag-gameThemed-panel-font-size-sm);

  strong {
    font-size: var(--swag-gameThemed-panel-font-size-md);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

    > span {
      min-width: 1rem;
    }

    .swag-icon {
      cursor: pointer;
      margin-left: 0.25rem;
      font-size: 1.25rem;

      &:active {
        transform: translateY(1px);
      }
    }

    &.--noName {
      span {
        opacity: 0.65;
      }
    }
  }

  .swag-gameThemed-textInput {
    width: 214px;
  }
}
