$smallScreenHeight: 530px;
$smallScreenWidth: 468px;

.swag-summaryScreen {
  pointer-events: auto;
  user-select: none;

  @keyframes swag-slide-in-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes swag-slide-out-down {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100%);
    }
  }

  animation: swag-slide-in-up 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;

  &.swag-slide-out-down {
    animation: swag-slide-out-down 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards !important;
  }

  &.swag-summaryScreen__injected {
    position: relative;
  }

  &.swag-summaryScreen__fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    text-align: center;
    z-index: 1;
  }
}

.swag-summaryScreen__scroll-content {
  display: flex;
  position: relative;
  width: 100%;

  &.--is-overflow {
    display: block;
    overflow-y: auto;
  }
}

.swag-summaryScreen__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;

  header {
    width: 100%;

    h4 {
      font-size: 125%;
      font-weight: normal;
      line-height: 1.4;

      strong {
        font-weight: 600;
      }
    }
  }
}

.swag-summaryScreen__footer {
  width: 100%;
}

.swag-summaryScreen__stats {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96px;
  margin: -0.75rem 0;

  .swag-summaryScreen__stat {
    width: 6rem;
    height: auto;

    > canvas {
      max-width: 6rem;
    }
  }
}

.swag-summaryScreen__button-container {
  // grid with 2 columns
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  width: 100%;

  &.--has-favorite {
    grid-template-columns: repeat(2, 1fr);
  }

  .--fullWidth {
    grid-column: 1 / -1;
  }
  
  :not(.--fullWidth) {
    grid-column: span 1;
  }

  .swag-summaryScreen__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0 1rem;
    border: none;
    appearance: none;
    
    font-weight: 600;
    font-size: 1rem;

    transition: opacity 0.1s ease-in-out, color 0.1s ease-in-out, transform 0.1s ease-in-out;

    &.--outline {
      background-color: transparent;
    }
    
    img {
      margin-right: 0.5rem;
      width: 16px;
      height: 16px;
    }

    // &:hover {
    //   transform: scale(1.025);
    // }

    &:active {
      transform: translateY(1px);
    }

    @media (max-width: $smallScreenWidth) {
      font-size: 0.85rem;
    }
  }
}

.swag-summaryScreen__related-games {
  width: 100%;

  p {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      transition: transform 0.1s ease-in-out;
      border-radius: 0.25rem;

      width: 4rem;
      height: 4rem;

      cursor: pointer;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }

      // &:hover {
      //   transform: scale(1.025);
      // }

      &:active {
        transform: translateY(1px);
      }
    }
  }

  @media (min-width: 768px) {
    width: 100%;
  }
}

.swag-summaryScreen__upsell {
  width: 100%;

  > .swag-summaryScreen__upsell-banner {
    display: flex;
    align-items: center;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
  
    text-decoration: none;
    text-align: left;

    transition: opacity 0.1s ease-in-out;

    p {
      line-height: 1.4;
      margin: 0;
    }
    
    img {
      margin-left: auto;
    }

    &:hover {
      opacity: 0.9;
    }

    &:active {
      transform: translateY(1px);
    }

    @media (max-width: $smallScreenWidth) {
      padding: 0.5rem 0.75rem;
      font-size: 0.85rem;
    }
  }
}

.swag-summaryScreen__promo-links-container {
  display: grid;
  gap: 1rem;
  width: 100%;

  button {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    padding: 0 1.5rem;
    font-weight: 600;
    transition: opacity 0.1s ease-in-out;

    > img:first-child {
      display: block;
      width: 30px;
      max-height: 30px;
      height: auto;
      object-fit: contain;
      margin-right: 1rem;
    }

    > img:last-child {
      margin-left: auto;
    }

    &:hover {
      opacity: 0.85;
    }

    &:active {
      transform: translateY(1px);
    }

    @media (max-width: $smallScreenWidth) {
      height: 3rem;
      padding: 0 0.75rem;
      font-size: 0.85rem;
    }
  }
}

.swag-summaryScreen__scroll-indicator {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2rem;

  background: linear-gradient(
    to top, 
    rgba(25, 90, 171, 0.7) 0%, 
    rgba(25, 90, 171, 0) 100%, 
  );

  outline: none;
  border: 0;

  div {
    margin-top: -2.5rem;
    margin-left: auto;
    width: 3.75rem;
    height: 3.75rem;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
}



/*
 * Theme
 */

.swag-summaryScreen {
  color: var(--swag-panel-font-color);
  background-color: var(--swag-panel-bg-color);
  font-family: var(--swag-ui-font-family);

  &.swag-summaryScreen__fullscreen {
    background-color: var(--swag-panel-bg-color) !important;
  }
}

.swag-summaryScreen__button-container {
  .swag-summaryScreen__btn {
    color: var(--swag-btn-font-color);
    background-color: var(--swag-btn-secondary-color);
    font-family: var(--swag-ui-font-family);

    &:hover {
      opacity: 0.85;
    }

    &.--outline {
      box-shadow: 0 0 0 1px var(--swag-btn-secondary-color) inset;
      color: var(--swag-btn-secondary-color);

      &:hover {
        opacity: 0.7;
      }
    }

    &.--outlinePrimary {
      box-shadow: 0 0 0 1px var(--swag-btn-primary-color) inset;
      color: var(--swag-btn-primary-color);
    }
  }
}

.swag-summaryScreen__upsell {
  > .swag-summaryScreen__upsell-banner {
    color: var(--swag-btn-font-color);
  }
}

.swag-summaryScreen__promo-links-container {
  button {
    color: var(--swag-btn-font-color);
  }
}
